@model PostViewModel

<div class="text-center"> 
    
    <h1 class="display-4"> my latest posts</h1>       

</div>

<div class="text-center"> 
    
    <a asp-controller="Posts"  asp-action="NewPost">New Post</a>     

</div>